{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h2 class="mb-4">{{ title }}</h2>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Title</label>
        {{ form.title }}
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        {{ form.description }}
    </div>

    <div class="mb-3">
        <label class="form-label">Instructor</label>
        {{ form.instructor }}
    </div>

    <div class="mb-3">
        <label class="form-label">Status</label>
        {{ form.status }}
    </div>

    <button type="submit" class="btn btn-success">
        Save
    </button>

    <a href="{% url 'course_list' %}" class="btn btn-secondary">
        Cancel
    </a>

</form>

{% endblock %}