{% extends "user/user_base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="topbar">

    <div>

        <h2>Edit Profile</h2>

        <p>Update your account information</p>

    </div>

</div>

<div class="row justify-content-center">

    <div class="col-lg-6">

        <div class="card shadow-lg border-0 rounded-4"
             style="background:#1F2937;">

            <div class="card-body p-5">

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-4">

                        <label class="form-label text-white">

                            Full Name

                        </label>

                        <input
                            type="text"
                            name="full_name"
                            value="{{ request.user.full_name }}"
                            class="form-control form-control-lg">

                    </div>

                    <div class="mb-4">

                        <label class="form-label text-white">

                            Email

                        </label>

                        <input
                            type="email"
                            name="email"
                            value="{{ request.user.email }}"
                            class="form-control form-control-lg">

                    </div>

                    <button
                        class="btn btn-primary btn-lg w-100">

                        Save Changes

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}